main {
    display: flex;
}

aside {
    width: 30%;
    height: 100vh;
}

#images {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

#top {
    background-color: rgba(0, 255, 255, 0.374);
    height: 33%;
}

#middle {
    background-color: rgba(0, 255, 255, 0.49);
    height: 33%;
}

#bottom {
    background-color: rgba(0, 255, 255, 0.638);
    height: 33%;
}

button {
    margin: 25px;
    text-align: center;
    padding: 15px;
    background-color: bisque;
    color: rgb(29, 164, 209);
    display: inline-block;
}

button:hover {
    background-color: brown;
}

#images img {
    width: 320px;
    height: 160px;
    margin-left: 5px;
}